<%- include('../partials/header') %>

<section id="show-page">
  <h1><%= job.jobTitle %></h1>
  <p><strong>Company:</strong> <%= job.company %></p>
  <p><strong>Location:</strong> <%= job.location %></p>
  <p><strong>Description:</strong> <%= job.description %></p>
  <p><strong>Requirements:</strong> <%= job.requirements %></p>
  <% if (job.salary) { %>
    <p><strong>Salary:</strong> <%= job.salary %></p>
  <% } %>
  <% if (job.applyLink) { %>
    <p><strong>Apply:</strong> <a href="<%= job.applyLink %>"><%= job.applyLink %></a></p>
  <% } %>
  <p><strong>Posted At:</strong> <%= job.postedAt.toDateString() %></p>
</section>


<br><br><h2>Comments</h2>
<form id="add-comment-form" method="POST"
  action="">
  <label>Review:</label>
  <textarea name="content"></textarea>
  </select>
  <input type="submit" value="Add Comments">
</form>

  <h5>No Comments Yet</h5>

  
<%- include('../partials/footer') %>
